html, body {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    background: linear-gradient(155deg, rgba(207,92,31,1) 0%, rgba(197,120,110,1) 19%, rgba(220,218,217,1) 50%, rgba(207,146,89,1) 100%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.header-message {
    color: whitesmoke;
    font-size: 21px;
    font-family: Poetsen One;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    max-width: 790px;

    p{
        font-family: Karla;
        font-size: 14px;
        padding: 0 10px;
        margin-left: 15px;
    }

    h1{
        margin: 0;
        margin-left: 15px;
    }
}

.glass-container {
    position: relative;
    width: 800px;
    height: 494px;
    margin-bottom: 20px;
}

canvas {
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

#drawingCanvas {
    z-index: 1;
}

.button-container {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 800px; 
}

button {
    flex-grow: 1;
    background-color: transparent;
    font-family: Karla;
    padding: 10px 20px;
    margin: 5px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.btn {
    background-color: #C5675B;
    border: none;

}

.citybtn{
    background-color: #C5675B;
    border: none;
    font-weight: bold;
}

button:hover {
    background-color: #FF8A78;
}


/*small screen*/

@media (max-width: 768px) {
  body {
    height: 100vh;
    background-color: lightblue;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .header-message{
    flex-direction: column;
    max-width: fit-content;
    margin-block-start: -15em;
  }

  .glass-container {
        width: 100%;
        left: -20px;
        height: auto;
        position: absolute;
    }

canvas{
    width:100%;
    border-radius: 0;
    margin-left: 20.5px;
}


.button-container{
    bottom: 10px;
    position: absolute;
    max-width: 95vw;
    height: auto;
    z-index: 10;
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
    margin-left: 10px;
}

}
