html, body {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    background: linear-gradient(155deg, rgba(207,92,31,1) 0%, rgba(197,120,110,1) 19%, rgba(220,218,217,1) 50%, rgba(207,146,89,1) 100%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.header-message {
    color: #fff;
    font-size: 24px;
    font-family: Poetsen One;
    margin-bottom: 20px;
    text-align: center;
}

.glass-container {
    position: relative;
    width: 800px;
    height: 494px;
    margin-bottom: 20px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#drawingCanvas {
    z-index: 1;
}

.button-container {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 800px; 

button {
    flex-grow: 1;
    padding: 10px 20px;
    margin: 5px;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}
